<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) TIKI Inc.
  ~ MIT license. See LICENSE file in root directory.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:icon="@mipmap/ic_launcher"
        tools:targetApi="31">
        <activity
            android:name=".Runner"
            android:exported="true"
            android:label="Runner">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>